@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&subset=latin") screen;

html {
    margin: 0;
    padding: 0;
    background: #666;
    color: white;
}
body {
    margin: 0 auto;
    max-width: 850px;
    padding: 20px 0;
    font-family:
        'Nunito Sans',
        'Avenir',
        'Helmet',
        'Freesans',
        sans-serif;
    background: black url(/static/rainbow.png) no-repeat top right;
    line-height: 1.4;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.4);
}
b {
    position: absolute;
    left: -999em;
}
ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 30px 40px 50px;
    padding: 30px;
    padding-left: 120px;
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    text-shadow:
        -1px -1px 1px black,
        1px -1px 1px black,
        -1px 1px 1px black,
        1px 1px 1px black;
    background: url(/static/logo.png) no-repeat left center;
}
h2, p, ul {
    margin: 0 60px 20px;
}
h2 {
    padding-top: 20px;
    font-size: 36px;
}
h3 {
    font-weight: normal;
    font-size: 24px;
    margin: 40px 60px 10px;
}
footer {
    margin: 40px 40px 20px;
}

nav {
    margin: 10px 60px;
}
nav::after {
    content: '';
    display: block;
    clear: both;
}
nav ul,
nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    float: left;
}
nav ul li::before {
    content: '•';
    color: #fbf432;
    padding: 0 10px;
}

main {
    padding-bottom: 10px;
}

#punch p.short {
    clear: both;
}
#punch p img {
    width: 400px;
    max-width: 50%;
    float: right;
    margin: 0 0 30px 40px;
    border: 3px solid black;
    outline: 1px solid #666;
}

#main {
    background: url(/static/gradient.png);
    padding-top: 10px;
}
#main a {
    color: #fbf432;
    text-decoration: none;
    font-weight: normal;
}
#main a:focus,
#main a:hover {
    border-bottom: 1px solid;
}

#responsibly {
    margin-bottom: 40px;
}
#responsibly li {
    margin-bottom: 10px;
}

.rules li {
    background: white;
    color: black;
    border-radius: 10px;
    position: relative;
    padding: 10px 120px 10px 10px;
    margin-bottom: 20px;
}
.rules li h3 {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}
.rules li p {
    margin: 0;
    font-size: 18px;
}
.rules li em {
    color: #157b66;
    font-weight: 900;
    font-style: normal;
    white-space: nowrap;
}
.rules li em img {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 70px;
    height: 70px;
}

footer {
    clear: both;
    padding-top: 50px;
}

@media (max-width: 500px) {
    body {
        background: black url(/static/rainbow-small.png) no-repeat top right;
    }
    h1 {
        font-size: 24px;
        margin: 20px 0 30px;
    }
    h1 span img {
        width: 40px;
        height: 40px;
    }
    h2, h3, p {
        margin: 0 10px 20px;
    }
    h2 { 
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }

    ul {
        margin: 0 40px 20px;
    }
    nav {
        margin: 0;
    }
    nav ul li {
        float: none;
    }

    #punch p img {
        float: none;
        display: block;
        max-width: 90%;
        margin: 0 auto 10px;
    }

    footer {
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 80%;
    }

    ul.rules {
        margin: 0 20px 20px;
    }
    .rules li {
        padding: 10px 70px 10px 10px;
        margin-bottom: 10px;
    }
    .rules li em img {
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
    }
    .rules li p {
        font-size: 16px;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    h1 {
        font-size: 30px;
        padding-right: 50px;
    }
}
@media (min-width: 500px) {
    strong.start {
        display: block;
    }
    nav ul li:first-child::before {
        content: '';
        padding: 0;
    }
}
