{% load render_as %}
<!DOCTYPE html>
<html>
<head>
  <title>eurovisiondrink control</title>
</head>
<body>

  <h1>Logged in as {{current_account}}.</h1>

  <div id='context'>
    <p>Current context: <q><code>{{current_context.text}}</code></q></p>

    <form method='post' action='/panel/context'>
      {% csrf_token %}
      <input type='text' name='context' value='{{current_context.text}}'>
      <button>Change the context</button>
    </form>

    <div class='tweet'>
      <form method='post' action='/panel/tweet'>
        {% csrf_token %}
        <input type='text' name='tweet' value='%context #eurovision'>
        <button>Free text tweet</button>
      </form>
    </div>
  </div>

  <hr>

  <h2>During the performance</h2>
  <ul class='actions'>
    {% for incident in performance_incidents %}
      {% render_as incident controlpanel %}
    {% endfor %}
  </ul>

  <h2>During the scoring</h2>
  <ul class='actions'>
    {% for incident in scoring_incidents %}
      {% render_as incident controlpanel %}
    {% endfor %}
  </ul>

  <div id='recent'>
    <h2>Recent Tweets</h2>
    <ul>
      {% for tweet in recent_tweets|slice:":10" %}
        <li><q>{{tweet.text}}</q></li>
      {% endfor %}
    </ul>
  </div>

</body>
</html>
