{% extends "base.html" %}

{% block head_title %}The @eurovisiondrink rum punch recipe{% endblock %}

{% block main_id %}punch{% endblock %}
{% block main %}

<h2>
  The rum punch, as drunk by
  <a href='https://twitter.com/eurovisiondrink'>@eurovisiondrink</a>
</h2>

<p>
  Before Eurovision you need to start thinking about what booze you’re going
  to be drinking. Some people go for beer, some wine, some gin and tonic. But
  at <strong>@eurovisiondrink</strong> HQ, we drink rum punch.
</p>
<p><img src='/static/punch.jpg' alt=''></p>
<ul>
  <li>
    1 part Pama (a pomegranate liqueur)
  </li>
  <li>2 parts Bacardi</li>
  <li>5 parts fruit juice</li>
  <li>top with soda water for a bit of sparkle</li>
</ul>
<p>
  To make one litre of punch, we would use 120ml Pama, 240ml Bacardi, 600ml of
  fruit juice, and top up with soda water.
</p>
<p>
  You can use any fruit juice you like. We go for a mixture of mostly plain
  orange juice, then some pineapple, mango, passion fruit, and lime juice
  added to brighten things up. Just use whatever you have to hand, or go
  shopping. It's easily replicated with a bunch of shop-bought bottles like
  Tropicana, Innocent, or store own brand.
</p>
<p class='short'>
  <img src='/static/premix.jpg' alt=''>
  <strong class='start'>Chill it!</strong> If there's going to be a group of
  you, grab some empty bottles and mix the punch the day before or on Saturday
  morning. Leave it chilling in the fridge and then during the event you don't
  have to run around to refill your glass and miss any of the action.
</p>
<p class='short'>
  <img src='/static/frice.jpg' alt=''>
  <strong class='start'>Fruit ice!</strong> If you're the kind of person to
  have a large serving jar or bowl about the house (and we are!) then another
  thing you can do is to freeze some fruit juice in advance. Adding cubes or
  spears of frozen fruit juice to your serving vessel will help keep it cold
  without the drink getting horribly watery.
</p>

{% endblock %}
